site_name: My Documentation
site_url: https://example.github.io/
site_description: Project documentation
site_author: Janek

theme:
  name: material
  language: en
  palette:
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - toc.integrate
    - content.code.copy
    - content.code.select
    - content.action.edit

nav:
  - Home: index.md
  - Information:
      - Shell build: docs/Shell build.md
  - Reference:
      - API: reference/api.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.mark
  - pymdownx.arithmatex
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/example
